.body{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: fit-content;
  margin: 4rem auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #fef9f6;
}

.header{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: 1.5rem;
  width: 100vw;
}
input{
  outline: none;
  border: none;
}
